# max_simtime
*general
10000

# level n_tbs_range tb_duration_range sm_req_spec(multiple values allowed)
# if only a level is provided, kernels are generated randomly from kernel sections
*workload
100 12-128 10-20 1,2,4,8
# mem_req_spec(multiple values allowed)
20-30

# sm_count n_rscs_sched n_rscs_compute sm_rsc_max(multiple values allowed)
*sm
16 1 1 8

# mem_rsc_max(multiple values allowed)
*mem
15000

*overhead_mem
0.1 1.2
0.2 2.4
0.3 3.6
0.4 4.8
0.5 6.0
0.6 7.2
0.7 8.4
0.75 9.6
0.8 10.8
0.85 12.0
0.9 13.2
1 14

# rsc_in_sm tb_overhead
*overhead_sm
0.1 0.1
0.2 0.2
0.5 0.3
0.7 0.4
0.8 0.5
0.9 0.6
1 0.7

# kernel_type start_ts n_tb tb_duration tb_rscs_req_sm(mutlple allowed) tb_rscs_req_mem(multiple allowed)
*kernel
1 10 32 10 3 45
2 30 16 12 10 12
