# max_simtime
*general
0

# level max_starved n_tbs_range tb_duration_range
*workload
100 1 12-128 10-20

# sm_count sm_rsc_max
*sm
16 8 

# rsc_in_sm tb_overhead
*overhead
2 0.1
4 0.3
8 0.7

# start_ts n_tb tb_rsc_req tb_duration
*kernel
10 32 3 10
30 16 2 12
